@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model NewBranchForm
<h2>Edit Branch Info</h2>

<form asp-action="Edit" method="post">
    <div class="form-group">
        <label asp-for="Name">Name:</label>
        <input asp-for="Name" class="form-control" required>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Location">Location:</label>
        <input asp-for="Location" class="form-control" required>
        <span asp-validation-for="Location" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="BranchManager">Branch Manager:</label>
        <input asp-for="BranchManager" class="form-control" required>
        <span asp-validation-for="BranchManager" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="EmployeeCount">Employee Count:</label>
        <input asp-for="EmployeeCount" type="number" class="form-control" required>
        <span asp-validation-for="EmployeeCount" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>